<!DOCTYPE html>
<html lang="en"
       xmlns="http://www.w3.org/1999/xhtml"  >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Spring MVC App</title>
</head>
<body>
    <h2>MENU</h2>
<!--    <a href="showForm">Clique aqui para acessar o formulário de saudação</a><br>-->
    <br>
    <a class="link-menu" href="aluno/showForm">Cadastrar novo aluno</a><br/>
    <a class="link-menu" href="aluno/getListaAlunos">Exibir lista de alunos</a><br/>
    <a class="link-menu" href="curso/showForm">Cadastrar novo curso</a><br/>
    <a class="link-menu" href="curso/getListaCursos">Exibir cursos cadastrados</a>
</body>
</html>