<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Alunos</title>

</head>

<body>



    <p>Lista de alunos cadastrados </p>
    <ul>
        <li th:each="aluno : ${alunos}">
            <span th:text="${aluno.primeiroNome} +' '+ ${aluno.ultimoNome} + ' - Curso:  ' + ${aluno.curso.nome} " />
        </li>
    </ul>
    <br><br>
    <p>Tabela com as infos</p>
    <table>
        <thead>
          <tr>
            <th th:text="Nome"></th>
            <th th:text="Curso"></th>
            <th th:text="Linguagem"></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="aluno: ${alunos}">
            <td th:text="${aluno.primeiroNome} + ' ' + ${aluno.ultimoNome}"></td>
            <td th:text="${aluno.curso.nome}"></td>
            <td th:text="${aluno.linguagem}"></td>
            <td><a th:href="@{detalhesAluno/{aluno_id}(aluno_id = ${aluno.id})}">Detalhes</a></td>
            <td><a th:href="@{removeAluno/{aluno_id}(aluno_id = ${aluno.id})}">Remover aluno</a></td>
          </tr>
        </tbody>
      </table>
    <br><br>
    <a href="showForm">Formulário de alunos</a><br>
    <a href="../curso/showForm">Formulário de cursos</a><br>
    <a href="getListaAlunoByCurso">Estudantes por Curso</a><br>
    <a href="getListaAlunoByLinguagem">Estudantes por Linguagem</a><br>
    <a href="getListaAlunoBySistemaOp">Estudantes por Sistema Operacional</a><br>
</body>

</html>